 
<!-- Page content-->
<div class="container mt-5">
    <div class="row">
        <div class="col-lg-8">
            <!-- Post content-->
            <article>
                <!-- Preview image figure-->
                    <figure class="mb-4"><img class="img-fluid rounded" src="{{image_url}}"> </figure>
                <!-- Post header-->
                <header class="mb-4">
                    <!-- Post title-->
                    <h1 class="fw-bolder mb-1">{{name}}</h1>
                    <!-- Post meta content-->
                    <div class="text-muted fst-italic mb-2"></div>
                    <!-- Post categories-->
                </header>
                    
                    <!-- Post content-->
                    <section class="mb-5">
                        <h3>{{location}}</h3>
                        <ul>
                            <li> Difficulty: {{difficulty}} </li>
                            <li> Distance: {{distance}}mi </li>
                        </ul>
                        {{description}}
                    </section>
            </article>
        </div>
    </div>
</div>
                             
  

{{!-- Section that adds the button to add images --}}
<div>
    <button id="upload_widget" class="cloudinary-button">Upload files</button>
</div>

<script src="/js/review.js"></script>
