
  <h1>{{image_url}}</h1>
    <h2>{{name}}</h2>
    <h3>{{location}}</h3>
    <ul>
        <li> {{difficulty}} </li>
           <li> {{distance}} </li>
    </ul>
    <p>{{description}}</p>
    
    
    
    
     {{!-- Section to add image as a user who is logged in --}}
    <div>
        <button id="upload_widget" class="cloudinary-button">Upload files</button>
    </div>

    <script src="/js/review.js"></script>
